@import url(https://db.onlinewebfonts.com/c/eca2f6d7a08be97ebbfb8a1c2c2be5e6?family=CCGeekSpeak+W00+Regular);
@import url(https://db.onlinewebfonts.com/c/19f4723099f0a5f5d9e6a316534d90f5?family=CCZoinks+Regular);

@font-face {
    font-family: "TwCenMTStdSemiMedium";
    src: url(../../TwCenMTStdSemiMedium.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 2;
}

header section {
    display: flex;
    justify-content: flex-end;
    position: relative;
    background: rgb(8, 37, 77);
    background: linear-gradient(0deg, rgba(8, 37, 77, 1) 0%, rgba(2, 67, 134, 1) 100%);
    border-bottom: 10px solid #0081CC;
}

.logo {
    background-image: url(../../imgs/Logo_Tab.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: fit-content;
    z-index: 1;
    position: absolute;
    top: -20%;
    left: 1rem;
}

.logo img {
    width: 14rem;
    padding: 4rem 2rem;
    cursor: pointer;
    alt: "Logo do site";
}

.menu {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
}

.menu img {
    width: 5rem;
    alt: "Menu";
}

#menu-options {
    display: none;
    justify-content: center;
    align-items: center;
    width: 25%;
    position: absolute;
    right: 0;
    background: linear-gradient(0deg, rgba(20,86,125,1) 0%, rgba(0,129,204,1) 100%);;
    border: none;
}

.menu-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;
    padding: 5%;
}

.menu-options a {
    font-size: 1.5rem;
    font-family: "twCenMTStdSemiMedium", sans-serif;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
    text-decoration: none;
    color: white;
    margin: 0.5rem;
}

main {
    overflow: hidden;
    background-image: url(../../imgs/jungle2.jpg);
    background-size: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre img {
    width: 90%;
    alt: "Crash Bandicoot 2";
}

.sobre img:first-child {
    margin-bottom: 4%;
}

.game {
    position: relative;
    margin-right: 10%;
}

.game iframe {
    height: 25rem;
    width: 30rem;
}

footer {
    height: 10rem;
    background: rgb(8, 37, 77);
    background: linear-gradient(0deg, rgba(8, 37, 77, 1) 0%, rgba(2, 67, 134, 1) 100%);
    border-top: 10px solid #0081CC;
    color: white;
    padding: 0 5% 0 5%;
}

footer,
.cred {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.git a,
.original a {
    font-size: 1.3rem;
    font-family: "CCZoinks Regular";
    text-decoration: none;
    color: white;
    margin-left: 1.5%;
}

.git,
.original {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cred img {
    width: 12%;
    cursor: pointer;
}

.info {
    height: 100%;
}

.options {
    background: url(../../imgs/cta_BG.png);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 1.5%;
}

.options button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-style: italic;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    font-family: "CCZoinks Regular";
    color: white;
    text-shadow: #000000 -2px 3px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.options button:hover {
    color: #fdf1ac;
}

.conteudo {
    background: url(../../imgs/CTR_Cavern_Background_FullSiteLength_Tile_1.png);
    height: auto;
}

.resumo {
    padding: 1.5% 7% 1.5% 7%;
    color: white;
    font-family: "TwCenMTStd", sans-serif;
    letter-spacing: 1.3px;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.historia {
    height: auto;
}

.historia section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 7% 1% 7%;
    gap: 10%;
}

.historia section p {
    color: white;
    margin-top: 4%;
    font-family: "TwCenMTStd", sans-serif;
    letter-spacing: 1.3px;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.historia img {
    width: 30%;
    margin: 2%;
}

.historia model-viewer {
    width: 100%;
    margin: 2%;
}

.historia,
.personagens,
.curiosidades {
    display: none;
}

.personagens section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 7% 1% 7%;
    gap: 10%;
}

.personagens h2 {
    color: white;
    font-family: "CCZoinks Regular", sans-serif;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.personagens p {
    color: white;
    font-family: "TwCenMTStd", sans-serif;
    letter-spacing: 1.3px;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.personagens img {
    width: 15%;
    margin: 2%;
}

.curiosidades section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 7% 1% 7%;
    gap: 10%;
}

.curiosidades h2 {
    color: white;
    text-align: center;
    padding-top: 1.5%;
    font-family: "CCZoinks Regular", sans-serif;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.curiosidades li {
    color: white;
    font-family: "TwCenMTStd", sans-serif;
    letter-spacing: 1.3px;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.curiosidades img {
    width: 30%;
    margin: 2%;
}