main {
    background-image: url(../../imgs/jungle2.jpg);
}

@media (max-width:768px) {
    main .sobre img:first-child {
        width: 100%;
    }

    .personagens section img{
        width: 30%
    }
}