@import url(https://db.onlinewebfonts.com/c/eca2f6d7a08be97ebbfb8a1c2c2be5e6?family=CCGeekSpeak+W00+Regular);
@import url(https://db.onlinewebfonts.com/c/19f4723099f0a5f5d9e6a316534d90f5?family=CCZoinks+Regular);

@font-face {
    font-family: "TwCenMTStdSemiMedium";
    src: url(../../TwCenMTStdSemiMedium.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    overflow: hidden;
    background-image: url(../../imgs/village1.jpg);
    background-size: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre img {
    width: 60%;
}

.sobre img:first-child {
    margin-bottom: 4%;
}

.game {
    position: relative;
    margin-right: 16%;
}

.game iframe {
    height: 25rem;
    width: 30rem;
}

.game img {
    position: absolute;
    height: 25rem;
    width: 30rem;
    z-index: 1;
}

.game img:hover {
    display: none;
}

.info {
    height: 100%;
}

.options {
    background: url(../../imgs/cta_BG.png);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 1.5%;
}

.options button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-style: italic;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    font-family: "CCZoinks Regular";
    color: white;
    text-shadow: #000000 -2px 3px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.options button:hover {
    color: #fdf1ac;
}

.conteudo {
    background: url(../../imgs/CTR_Cavern_Background_FullSiteLength_Tile_1.png);
    height: auto;
}

.resumo{
    padding: 1.5% 7% 1.5% 7%;
    color: white;
    font-family: "TwCenMTStd", sans-serif;
    letter-spacing: 1.3px;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.historia {
    height: auto;
}

.historia section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 7% 1% 7%;
    gap: 10%;
}

.historia section p {
    color: white;
    margin-top: 4%;
    font-family: "TwCenMTStd", sans-serif;
    letter-spacing: 1.3px;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.historia img{
    width: 30%;
    margin: 2%;
}

.historia model-viewer {
    width: 100%;
    margin: 2%;
}

.historia,
.personagens,
.curiosidades {
    display: none;
}

.personagens section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 7% 1% 7%;
    gap: 10%;
}

.personagens h2{
    color: white;
    font-family: "CCZoinks Regular", sans-serif;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.personagens p{
    color: white;
    font-family: "TwCenMTStd", sans-serif;
    letter-spacing: 1.3px;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.personagens img {
    width: 15%;
    margin: 2%;
}

.curiosidades section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 7% 1% 7%;
    gap: 10%;
}

.curiosidades h2{
    color: white;
    text-align: center;
    padding-top: 1.5%;
    font-family: "CCZoinks Regular", sans-serif;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.curiosidades li{
    color: white;
    font-family: "TwCenMTStd", sans-serif;
    letter-spacing: 1.3px;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.curiosidades img{
    width: 30%;
    margin: 2%;
}

@media (max-width: 900px) {
    main{
        display: flex;
        flex-direction: column;
        background-size: cover;
        justify-content: center;
    }
    main .game{
        margin: 4% 0 4% 0;
    }

    .options{
        height: 15vh;
        align-items: center;
        
    }
    .options button{
        font-size: 2rem;
        width: 14rem;
        height: 2.5rem;
    }

    .conteudo p{
        font-size: 1.7rem;
    }
    .resumo, .historia, .personagens, .curiosidades{
        padding: 4% 4% 4% 4%;
    }

    .historia section{
        flex-direction: column;
    }
    .historia img{
        width: 70%;
    }

    .personagens h2{
        font-size: 2.5rem;
    }

    .curiosidades section{
        flex-direction: column-reverse;
    }
    .curiosidades h2{
        font-size: 2.5rem;
        margin-bottom: 2%
    }
    .curiosidades img{
        width: 70%;
    }
    .curiosidades li{
        font-size: 1.7rem;
    }
}