@import url(https://db.onlinewebfonts.com/c/eca2f6d7a08be97ebbfb8a1c2c2be5e6?family=CCGeekSpeak+W00+Regular);
@import url(https://db.onlinewebfonts.com/c/19f4723099f0a5f5d9e6a316534d90f5?family=CCZoinks+Regular);

@font-face {
    font-family: "TwCenMTStdSemiMedium";
    src: url(../../TwCenMTStdSemiMedium.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 2;
}

header section {
    display: flex;
    justify-content: flex-end;
    position: relative;
    background: rgb(8, 37, 77);
    background: linear-gradient(0deg, rgba(8, 37, 77, 1) 0%, rgba(2, 67, 134, 1) 100%);
    border-bottom: 10px solid #0081CC;
}

.logo {
    background-image: url(../../imgs/Logo_Tab.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: fit-content;
    z-index: 1;
    position: absolute;
    top: -20%;
    left: 1rem;
}

.logo img {
    width: 14rem; 
    padding: 4rem 2rem;
    cursor: pointer;
}

.menu {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    height: 10vh;
    align-items: center;
}

#menu-icon {
    display: none;
    width: 4rem;
    cursor: pointer;
}

#menu-options {
    display: none;
    justify-content: center;
    align-items: center;
    width: 25%;
    position: absolute;
    top: 100%;
    right: 0;
    background: linear-gradient(0deg, rgba(20,86,125,1) 0%, rgba(0,129,204,1) 100%);;
    border: none;
}

.menu-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: fit-content;
    padding: 5%;
}

.menu-options a {
    font-size: 1.5rem;
    font-family: "twCenMTStdSemiMedium", sans-serif;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
    text-decoration: none;
    color: white;
    margin: 0.5rem;
}

.menu img {
    width: 5rem;
}

main {
    overflow: hidden;
}

.img-main {
    width: 100vw;
    height: 100vh;
    background: url(../../imgs/background.jpg) no-repeat center center/cover;
}

.games {
    height: auto;
}

.sect-games {
    background-image: url(../../imgs/cta_BG.png);
    height: auto;
    display: flex;
    justify-content: center;
}

.sect-games p {
    color: white;
    font-size: 3rem;
    font-family: "CCGeeKSpeak W00 Regular";
    text-shadow: #000000 -2px 3px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
    padding: 1.5% 0 1.5% 0;
}

.games {
    background-image: url(../../imgs/CTR_Cavern_Background_FullSiteLength_Tile_1.png);
    background-size: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30%;
}

.jogo {
    padding: 10%;
    height: fit-content;
}

.capa-e-img,
.desc-e-jogar {
    display: flex;
}

.capa-e-img {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    border-radius: 2%;
}

.crash1 {
    background-image: url(../../imgs/games-art-bask/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.crash2 {
    background-image: url(../../imgs/games-art-bask/2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.crash3 {
    background-image: url(../../imgs/games-art-bask/3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.ctr {
    background-image: url(../../imgs/games-art-bask/4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.bash {
    background-image: url(../../imgs/games-art-bask/5.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.invi {
    width: 70%;
}


.jogo-capa {
    display: flex;
}

.jogo-capa img {
    width: 100%;
    height: 110%;
    transition: 0.3s ease;
    cursor: pointer;
}

.jogo-capa img:hover {
    transform: scale(1.1);
}

.desc-e-jogar {
    margin-top: 10%;
}

.desc-e-jogar .descricao {
    color: white;
    width: 250%;
    font-size: 1.2rem;
    font-family: 'TwCenMTStdSemiMedium', sans-serif;
    text-shadow: #000000 -2px 2px 0px, #000000 -1px -1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 1px 1px 0px;
}

.desc-e-jogar input {
    height: 40%;
    width: 100%;
    margin-left: 5%;
    width: 200%;
    font-size: 1.8rem;
    font-family: "CCGeekSpeak W00 Regular";
    color: white;
    background-image: url(../../imgs/cta_BG.png);
    -webkit-text-stroke: 2px rgb(48, 48, 48);
    cursor: pointer;
}

.desc-e-jogar input:hover {
    background-image: url(../../imgs/cta_BG-hover.png);
}

footer {
    height: 10rem;
    background: rgb(8, 37, 77);
    background: linear-gradient(0deg, rgba(8, 37, 77, 1) 0%, rgba(2, 67, 134, 1) 100%);
    border-top: 10px solid #0081CC;
    color: white;
}
footer{
    padding: 0 5% 0 5%;
}

footer,
.cred {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.git a,
.original a {
    font-size: 1.3rem;
    font-family: "CCZoinks Regular";
    text-decoration: none;
    color: white;
    margin-left: 1.5%;
}

.git,
.original {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cred img {
    width: 12%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu{
        height: 10vh;
        display: flex;
    }
    #menu-icon{
        display: block;
    }
    #menu-options{
        width: 60vw;
    }
    #menu-options a{
        font-size: 2.3rem;
    }
    .img-main{
        height: 70vh;
    }

    .games{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }


    .cred img{
        width: 25%;
    }
    .cred a{
        font-size: 1.7rem;
    }
}

@media (max-width: 400px) {
    .logo {
        left: 0.3rem;
        top: -10%;
    }
    
    .logo img {
        width: 9rem;
        padding: 2rem 1rem;
    }
    
    #menu-icon {
        width: 3rem;
    }
    
    #menu-options {
        width: 75vw;
    }
    
    .menu-options a {
        font-size: 1.8rem;
    }
    
    .sect-games p {
        font-size: 2rem;
        padding: 3% 0;
    }
    
    .jogo {
        padding: 5%;
    }
    
    .desc-e-jogar .descricao {
        font-size: 0.9rem;
        width: 100%;
    }
    
    .desc-e-jogar input {
        font-size: 1.3rem;
        width: 100%;
        margin-left: 0;
        padding: 0.5rem;
    }
    
    .cred {
        flex-direction: column;
        gap: 5%;
    }
    
    .cred img {
        width: 20%;
    }
    
    .git a,
    .original a {
        font-size: 1rem;
    }
    
    footer {
        height: auto;
        padding: 1rem 2%;
    }
}

@media (min-width: 1040px) {
    .menu{
        height: 15vh;
    }
}